/*------------FONTS---------*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/*--------RESET-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-------variables------*/
/*-------MAIN INDEX-------*/
main .hero {
  display: flex;
  align-items: center;
  flex-direction: column; }
  main .hero img {
    width: 100%;
    height: auto;
    max-height: 70vh; }
  main .hero a {
    text-decoration: none;
    color: ghostwhite;
    font-family: "Cormorant", serif;
    font-weight: bolder;
    background-color: orangered;
    padding: 12px;
    text-align: center;
    letter-spacing: 4px;
    width: 30%;
    border-radius: 1em;
    transition: 1.5s; }
    main .hero a:hover {
      width: 100%;
      transition-timing-function: ease-out;
      background-color: red;
      font-size: large; }

main .tittleOfertas h3 {
  background-color: black;
  font-size: x-large;
  text-align: center;
  padding: 10px;
  color: red;
  margin: auto;
  margin-top: 50px; }
  main .tittleOfertas h3 i {
    margin-left: 80px;
    margin-right: 80px;
    color: #f55b74; }

main .ofertas {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  main .ofertas .primerOferta {
    border: 1px solid red;
    background-color: white;
    width: 220px;
    height: 350px;
    font-family: "Cormorant", serif;
    font-weight: bolder;
    text-align: center;
    transition: 2s; }
    main .ofertas .primerOferta:hover {
      box-shadow: -14px -3px 19px -3px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -14px -3px 19px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -14px -3px 19px -3px rgba(0, 0, 0, 0.75);
      scale: 1.1; }
    main .ofertas .primerOferta img {
      width: 100%;
      height: 70%;
      margin-bottom: 4px; }
    main .ofertas .primerOferta p {
      margin-bottom: 4px; }
    main .ofertas .primerOferta a {
      border: 2px solid #ffdb59;
      background-color: #ffdb59;
      font-family: "Fredoka One", cursive;
      margin-top: 12px;
      text-decoration: none;
      color: black; }

main .formaDePago div h3 {
  background-color: black;
  font-size: x-large;
  text-align: center;
  padding: 10px;
  color: red;
  margin: auto;
  margin-top: 100px; }
  main .formaDePago div h3 i {
    margin-left: 80px;
    margin-right: 80px;
    color: green; }

main .formaDePago .imgFormapago {
  background-color: #f9efef;
  border: solid;
  display: flex;
  justify-content: space-around; }
  main .formaDePago .imgFormapago img {
    width: 100px;
    height: 100px; }

main .ubicacion h3 {
  background-color: black;
  text-align: center;
  font-size: x-large;
  padding: 10px;
  color: red; }
  main .ubicacion h3 i {
    margin-left: 80px;
    margin-right: 80px;
    color: whitesmoke; }

main .ubicacion div {
  display: flex;
  justify-content: space-around; }
  main .ubicacion div .iframe {
    margin-top: 20px; }
  main .ubicacion div .imgHora {
    width: 400px;
    height: 300px;
    border: 5px solid black;
    margin-top: 10px; }

main .whatsapp img {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  border: 2px solid #e4e4f0;
  border-radius: 50%;
  transition: 1.5s; }
  main .whatsapp img:hover {
    transform: scale(1.2); }

/*--------HEADER-------*/
header {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 999; }
  header .caja-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto; }
    header .caja-1 img {
      width: 100px; }
    header .caja-1 .titles h1 {
      color: #ffdb59;
      font-family: "Fredoka One", cursive;
      font-size: 40px; }
    header .caja-1 .titles h2 {
      color: sienna;
      font-family: "Cormorant", serif;
      font-size: 32px; }
    header .caja-1 .button button {
      background-color: transparent;
      border: none; }
      header .caja-1 .button button img {
        width: 40px;
        transition: 2s; }
        header .caja-1 .button button img:hover {
          transform: scale(1.5);
          border-radius: 100%;
          background-color: sienna; }
  header nav div .navbar-nav {
    flex-direction: row;
    justify-content: space-around; }
    header nav div .navbar-nav li a {
      border-radius: 35%; }
      header nav div .navbar-nav li a:hover {
        box-shadow: inset 0 0 10px yellow, 0 0 10px yellow; }

/*-------FOOTER----------*/
footer {
  background-color: orangered; }
  footer div {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer div h4 {
      font-family: "Cormorant", serif;
      font-size: 20px;
      text-align: center; }
  footer a {
    display: flex;
    justify-content: space-evenly; }
    footer a img {
      width: 40px;
      height: 40px;
      border: 2px solid #e4e4f0;
      border-radius: 20%; }

/*-------HOJA DE CONTACTOS------*/
.formulario {
  padding: 80px 0; }
  .formulario .card-form {
    background-image: linear-gradient(to right, #f8d5a5 0%, #f69d2174 100%);
    margin: auto;
    width: 90%;
    padding: 0.7em;
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    animation: mostrar 2s ease; }

@keyframes mostrar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .formulario figure {
    width: 80%;
    max-width: 60%;
    background-color: #f8da6de9;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .formulario figure img {
      width: 80%; }
  .formulario .div-form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    justify-content: center; }
    .formulario .div-form h2 {
      font-family: "Fredoka One", cursive;
      color: sienna; }
      .formulario .div-form h2 i {
        font-family: "Fredoka One", cursive;
        color: sienna; }
  .formulario .form {
    display: grid;
    justify-items: auto;
    gap: 4px; }
    .formulario .form input {
      font: inherit;
      border-radius: 0.5em;
      padding: 1em;
      border: none;
      transition: 1.5s; }
      .formulario .form input:hover {
        box-shadow: inset 0 0 10px yellow, 0 0 10px yellow; }
    .formulario .form label {
      font-family: "Fredoka One", cursive;
      color: sienna; }
    .formulario .form .enviar {
      background-color: sienna;
      color: white;
      align-items: center;
      font-family: "Fredoka One", cursive;
      padding: 4px;
      transition: 2s;
      letter-spacing: 2px; }

/*------MAIN ACCESORIOS -----*/
main .accesorios h2 {
  color: sienna;
  font-family: "Cormorant", serif;
  font-size: 42px;
  text-align: center; }

main .accesorios .conteiner {
  display: flex;
  justify-content: space-around; }
  main .accesorios .conteiner .card-accesorio {
    width: 30%;
    position: relative;
    margin-top: 24px;
    margin-bottom: 20px; }
    main .accesorios .conteiner .card-accesorio img {
      width: 100%; }
    main .accesorios .conteiner .card-accesorio .text-card {
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      padding: 16px;
      background: rgba(0, 0, 0, 0.7); }
      main .accesorios .conteiner .card-accesorio .text-card h3 {
        color: whitesmoke;
        font-family: "Cormorant", serif;
        font-size: 20px;
        text-align: center; }
      main .accesorios .conteiner .card-accesorio .text-card p {
        color: whitesmoke;
        font-family: "Cormorant", serif;
        font-size: 16px;
        text-align: center; }

/*---------MAIN ALIMENTOS-------*/
main .categoriaAlimentos {
  margin-top: 12px;
  display: flex;
  align-items: space-around; }
  main .categoriaAlimentos div {
    border: 2px solid black;
    width: 200px;
    height: 300px;
    background-color: black;
    margin: auto;
    margin-left: auto;
    margin-right: auto; }
    main .categoriaAlimentos div a {
      text-decoration: none; }
      main .categoriaAlimentos div a img {
        width: 196px;
        height: 200px; }
    main .categoriaAlimentos div p {
      font-family: "Cormorant", serif;
      color: antiquewhite;
      font-size: x-large;
      text-align: center;
      margin: 5px; }

main section .video {
  display: flex;
  border: 10px solid black;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px; }

/*------MAIN HIGIENE Y ESTETICA-----*/
.higiene-estetica h2 {
  text-align: center;
  padding: 12px; }

.higiene-estetica div div div .cards-wrapper {
  display: flex;
  justify-content: space-around; }
  .higiene-estetica div div div .cards-wrapper .card {
    border: none;
    box-shadow: 2px 4px 8px 0 rgba(22, 22, 26, 0.18);
    z-index: 10;
    margin-bottom: 20px; }

.carousel-control-prev {
  justify-content: start; }

.carousel-control-next {
  justify-content: end; }

section .iframe-higiene {
  display: flex;
  align-items: center;
  border: 10px solid black;
  margin: auto;
  margin-top: 4%; }

/* ------media query INDEX--- */
@media screen and (max-width: 900px) {
  main .ubicacion div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  main .ofertas {
    display: flex;
    flex-direction: column; }
    main .ofertas div {
      margin-bottom: 10px; } }

@media screen and (max-width: 570px) {
  header div .titles h1 {
    font-size: 24px; }
  header div .titles h2 {
    font-size: 20px; }
  main .formaDePago .imgFormapago img {
    width: 50px;
    height: 50px; }
  main .tittleOfertas {
    font-size: medium;
    margin-top: 4px; }
  main .ubicacion div iframe {
    width: 300px;
    height: 250px; }
  main .ubicacion div img {
    width: 300px; } }

@media screen and (max-width: 490px) {
  header .caja-1 img {
    height: 30%; }
  header .caja-1 .titles h1 {
    font-size: 32px; }
  header .caja-1 .titles h2 {
    font-size: 24px; }
  main .hero a {
    font-size: 12px; }
  main .tittleOfertas h3 i {
    margin-left: 20px;
    margin-right: 20px; }
  main .formaDePago div h3 i {
    margin-left: 20px;
    margin-right: 20px; }
  main .ubicacion h3 i {
    margin-left: 20px;
    margin-right: 20px; } }

/*-----------MEDIA QUORY ACCESORIOS--------*/
@media screen and (max-width: 700px) {
  main .accesorios .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh; }
    main .accesorios .conteiner .card-accesorio {
      width: 70%;
      margin-bottom: 16px; } }

/* --------MEDIA QUORY ALIMENTOS-------- */
@media screen and (max-width: 700px) {
  main .categoriaAlimentos {
    display: flex;
    flex-direction: column; }
    main .categoriaAlimentos div {
      margin-top: 12px; }
  main section .video {
    width: 95%;
    margin-bottom: 8px; } }

/* --------MEDIA QUORY HIGIENE Y ESTETICA ---- */
@media screen and (max-width: 700px) {
  main section div div div .cards-wrapper {
    margin: 16px auto; }
    main section div div div .cards-wrapper .card:not(:first-child) {
      display: flex;
      flex-direction: column;
      align-items: center; }
  main section .iframe-higiene {
    width: 95%; } }

@media screen and (max-width: 520px) {
  main section div div div .cards-wrapper {
    display: flex;
    align-items: center;
    width: 60vh; }
    main section div div div .cards-wrapper .card:not(:first-child) {
      display: none; } }
