/*------MAIN ACCESORIOS -----*/
main{
    .accesorios{
        h2{
            color: sienna;
            font-family: "Cormorant", serif;
            @include font (42px, center);

        }
        .conteiner{
            display: flex;
            justify-content: space-around;
            
            .card-accesorio{
                width: 30%;
                position: relative;
                margin-top: 24px;
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
                .text-card {
                    width: 100%;
                    height: 25%;
                    position: absolute;
                    bottom: 0;
                    padding: 16px;
                    background: rgba(0,0,0,0.7);
                    h3 {
                color: whitesmoke;
                font-family: "Cormorant", serif;
                @include font ( 20px, center);

                    }
                    p{
                        color: whitesmoke;
                font-family: "Cormorant", serif;
                @include font (16px, center);
                
                    }
                }
            }
        }
    }
}
