/*---------MAIN ALIMENTOS-------*/
main {
    .categoriaAlimentos {
        margin-top: 12px;
        @include flex (flex, space-around);
        div{
            border: 2px solid black;
            width: 200px;
            height: 300px;
            background-color: black;
            margin: auto;
            @include margin (auto, auto);
            a{
                text-decoration: none;
                img{
                    width: 196px;
                    height: 200px;
                }
            }
            p{
                font-family: "Cormorant", serif;
                color: antiquewhite;
                @include font ( x-large, center);
                margin: 5px;
            }
        }
        
    }
    section {
        .video{
                display: flex;
                border: 10px solid black;
                margin: auto;
                @include margin (auto, auto);
                margin-top: 15px;
                }
    }
}