/*------MAIN HIGIENE Y ESTETICA-----*/

.higiene-estetica{
    h2{
        text-align: center;
        padding: 12px;
    }
    div{
        div{
            div{
                .cards-wrapper{
                    display: flex;
                    justify-content: space-around;
                    
                    .card{
                        border: none;
                        box-shadow: 2px 4px 8px 0 rgba(22, 22, 26, 0.18);
                        z-index: 10;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
.carousel-control-prev {
    justify-content: start;
}
.carousel-control-next {
    justify-content: end;
}

section{
    .iframe-higiene{
        @include flex (flex, center);
        border: 10px solid black;
        margin: auto;
        margin-top: 4%;
    }
}